
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isDirector() { 
      return isSignedIn() && (
        request.auth.token.email == "adelbenmaza3@gmail.com" || 
        request.auth.uid == "Q6viqCxCS8MWfCsCC3sgm9Jk34i2"
      ); 
    }
    
    match /users/{userId} {
      allow read, list: if true;
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isSignedIn() && (request.auth.uid == userId || isDirector());
    }

    match /articles/{articleId} {
      allow read, list: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn(); 
      allow delete: if isSignedIn() && (resource.data.authorId == request.auth.uid || isDirector());
      
      match /comments/{commentId} {
        allow read, list: if true;
        allow create: if isSignedIn();
        allow delete: if isSignedIn() && (request.auth.uid == resource.data.authorId || isDirector());
      }
    }

    match /stories/{storyId} {
      allow read, list: if true;
      allow create: if isSignedIn();
      allow delete: if isSignedIn() && (resource.data.authorId == request.auth.uid || isDirector());
    }

    match /notifications/{notifId} {
      allow read, list: if isSignedIn() && (resource.data.userId == request.auth.uid || isDirector());
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && (resource.data.userId == request.auth.uid || isDirector());
    }

    match /follows/{followId} { 
      allow read, list: if true; 
      allow write: if isSignedIn(); 
    }
  }
}
